
.navbar{
    background-color: #3EBF52;
    
}

.navbar .logout {
    cursor: pointer;
}   
.logotipo{
margin-left: 1em;

}


.btnnavintacta{

    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #25B565;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 9px;
    transition : 800ms;
    transform: translateY(0);
    display: row;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 1em;
    }
    
    .btnnavintacta:hover{
    
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #3ebf52;
    border: solid 2px #3ebf52;
    }



