
@media  (min-width: 1500px)and (max-width:2328px){
.tudo{
    max-width: 100%;  
    justify-content: center;
    padding: 2%;   
    max-height: 100%;   
    align-content: center;
    max-inline-size: 100%;
    writing-mode: horizontal-tb; 
}

.div{
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 100%; 
}
.div1{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    max-width: 100%; 
}

.div2{
    justify-content: center;
    display: table-row;
    align-items: center;
    margin-top: 0.7%;
    max-width: 100%; 
}
.div3{
    
    display: flex;
    
    margin-top: 0.5%;
    max-width: 100%; 
    max-inline-size: 100%;
    writing-mode: horizontal-tb; 
}

.div4{
    
    display: flex;
    align-items: center;    
    max-width: 100%; 
    justify-content: space-evenly;
    margin-top: 3%;
}

.div5{
    
    display: flex;
    margin-left: 25%;
    margin-top: 3%;
    max-width: 100%; 
    align-items: center;  
}


.input1{
    text-align: center;
    width: 8%;
    margin-left: 1%;
    padding: 0.5%;
    box-sizing: border-box;
    
}

.input2{
    text-align: center;
    width: 98%;
    margin-left: 12%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input3{
    text-align: center;
    width: 98%;
    margin-left: 2%;
    padding: 0.5%;
    box-sizing: border-box;
}

.input4{ 
    text-align: center;
    width: 30%;
    margin-left: 2%;
    padding: 0.5%;
    box-sizing: border-box;

}
.input5{ 
    text-align: center;
    width: 30%;
    margin-left: 16.5%;
    padding: 0.5%;
    box-sizing: border-box;

}





.input6{ 
    text-align: center;
    width: 17%;
    margin-left: 8%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input7{ 
    text-align: center;
    width: 17%;
    margin-left: 5%;
    padding: 0.5%;
    box-sizing: border-box;
}

.input8{ 
    text-align: center;
    width: 17%;
    margin-left: 7.9%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input9{ 
    text-align: center;
    width: 17%;
    margin-left: 5%;
    padding: 0.5%;
    box-sizing: border-box;
}

.input10{ 
    text-align: center;
    width: 5%;
    margin-left: 8%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input11{ 
    text-align: center;
    width: 5%;
    margin-left: 1%;
    padding: 0.5%;
    box-sizing: border-box;
}

.input12{ 
    text-align: center;
    width: 5%;
    margin-left: 6.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input13{ 
    text-align: center;
    width: 5%;
    margin-left: 1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input14{ 
    text-align: center;
    width: 5%;
    margin-left: 6.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input15{ 
    text-align: center;
    width: 5%;
    margin-left: 5%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input16{ 
    text-align: center;
    width: 5%;
    margin-left: 6.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input17{ 
    text-align: center;
    width: 17%;
    margin-left: 6%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input18{ 
    text-align: center;
    width: 17%;
    margin-left: 6.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input19{ 
    text-align: center;
    width: 17%;
    margin-left: 3.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input20{ 
    text-align: center;
    width: 39%;
    margin-left: 3.1%;
    padding: 0.5%;
    box-sizing: border-box;
}
.input21{ 
    text-align: center;
    width: 17%;
    margin-left: 6.7%;
    padding: 0.5%;
    box-sizing: border-box;
}

.input22{ 
    text-align: center;
    width: 350%;    
    padding: 30%;
    box-sizing: border-box;
}


.button{
    padding: 0.5%;
    background-color: white;
    margin-left: 1%;
    border: 0px;
}

.button1{
    width: 110%;   
    padding: 0%;      
}

.button2{
    padding: 0.5%;
    background-color: white;
    margin-left: 10%;
    border: 0px;
}
.button3{
    padding: 2%;
    background-color: white;
    margin-left: 26%;
    border: 0px;
}

.button4{
    width: 380%;   
    padding: 30%;      
}


.espaco{
    margin-left: 57.7%;
}
.espaco1{
    margin-left: 21.5%;
}
.espaco3{
    margin-left: 42.9%;
}
.espaco4{
    margin-left: 29.5%;
}
.espaco5{
    margin-left: 45.2%;
}
.espaco6{
    margin-left: 0.5%;
}
.espaco7{
    margin-left: 30%;
}
.espaco8{
    margin-left: 31.4%;
}
.espaco9{
    margin-left: 39%;
}
.espaco10{
    margin-left: 39.7%;
}
.espaco11{
    margin-left: 1%;
}
.espaco12{
    margin-left: 35.4%;
}
.espaco13{
    margin-left: 25.6%;
}
.espaco14{
    margin-left: 0.4%;
}
.espaco15{
    margin-left: 4.6%;
}
.espaco16{
    margin-left: 35.9%;
}
.espaco17{
    margin-left: 17.5%;
}
.espaco18{
    margin-left: 27.9%;
}
.espaco19{
    margin-left: 35.6%;
}



}









@media  (min-width: 1275px)and (max-width:1289px){

 


    .div{
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 100%; 
    }
    .div1{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        max-width: 100%; 
        margin-left: 4%;
    }
    
    .div2{
        justify-content: center;
        display: table-row;
        align-items: center;
        margin-top: 0.7%;
        max-width: 100%; 
    }
    .div3{
        
        display: flex;
        
        margin-top: 0.5%;
        max-width: 100%; 
    }
    
    .div4{
        
        display: flex;
        align-items: center;    
        max-width: 100%; 
        justify-content: space-evenly;
        margin-top: 3%;
        margin-left: -10%;
    }
    
    .div5{
        
        display: flex;
        margin-left: 25%;
        margin-top: 3%;
        max-width: 100%; 
        align-items: center;  
    }

    .button{
        padding: 0.5%;
        background-color: white;
        margin-left: 1%;
        border: 0px;
    }
    
    .button1{
        width: 110%;   
        padding: 0%;      
    }
    
    .button2{
        padding: 0.5%;
        background-color: white;
        margin-left: 10%;
        border: 0px;
    }
    .button3{
        padding: 2%;
        background-color: white;
        margin-left: 26%;
        border: 0px;
    }
    
    .button4{
        width: 380%;   
        padding: 30%;      
    }

    .input1{
        text-align: center;
        width: 8%;
        margin-left: 1%;
        padding: 0.5%;
        box-sizing: border-box;
        
    }
    
    .input2{
        text-align: center;
        width: 98%;
        margin-left: 12%;
        padding: 0.5%;
        box-sizing: border-box;
    }
    .input3{
        text-align: center;
        width: 98%;
        margin-left: 2%;
        padding: 0.5%;
        box-sizing: border-box;
    }
    
    .input4{ 
        text-align: center;
        width: 30%;
        margin-left: 2%;
        padding: 0.5%;
        box-sizing: border-box;
    
    }
    .input5{ 
        text-align: center;
        width: 30%;
        margin-left: 16.5%;
        padding: 0.5%;
        box-sizing: border-box;
    
    }

    


    
    .input6{ 
        text-align: center;
        width: 12%;
        margin-left: 8%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input7{ 
        text-align: center;
        width: 12%;
        margin-left: 2.9%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input8{ 
        text-align: center;
        width: 12%;
        margin-left: 7.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input9{ 
        text-align: center;
        width: 12%;
        margin-left: 2.9%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input10{ 
        text-align: center;
        width: 3.5%;
        margin-left: 8%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input11{ 
        text-align: center;
        width: 3.5%;
        margin-left: 0.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input12{ 
        text-align: center;
        width: 3.5%;
        margin-left: 6.0%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input13{ 
        text-align: center;
        width: 3.5%;
        margin-left: 0.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input14{ 
        text-align: center;
        width: 3.5%;
        margin-left: 6.1%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input15{ 
        text-align: center;
        width: 3.5%;
        margin-left: 3%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input16{ 
        text-align: center;
        width: 3.5%;
        margin-left: 6.1%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input17{ 
        text-align: center;
        width: 12%;
        margin-left: 6%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input18{ 
        text-align: center;
        width: 12%;
        margin-left: 6.1%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input19{ 
        text-align: center;
        width: 12%;
        margin-left: 2.9%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input20{ 
        text-align: center;
        width: 26.9%;
        margin-left: 3%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input21{ 
        text-align: center;
        width: 12%;
        margin-left: 6.5%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input22{ 
        text-align: center;
        width: 180%;    
        padding: 25%;
        box-sizing: border-box;
        height: 60%;
    }


    .espaco{
        margin-left: 59%;
    }
    .espaco1{
        margin-left: 13.8%;
    }
    .espaco3{
        margin-left: 46%;
    }
    .espaco4{
        margin-left: 30.5%;
    }
    .espaco5{
        margin-left: 48.8%;
    }
    .espaco6{
        margin-left: 0.5%;
    }
    .espaco7{
        margin-left: 30.9%;
    }
    .espaco8{
        margin-left: 32.5%;
    }
    .espaco9{
        margin-left: 41.4%;
    }
    .espaco10{
        margin-left: 42.3%;
    }
    .espaco11{
        margin-left: 1%;
    }
    .espaco12{
        margin-left: 37.2%;
    }
    .espaco13{
        margin-left: 25.9%;
    }
    .espaco14{
        margin-left: 0.2%;
    }
    .espaco15{
        margin-left: 1.3%;
    }
    .espaco16{
        margin-left: 38.1%;
    }
    .espaco17{
        margin-left: 16.1%;
    }
    .espaco18{
        margin-left: 28.2%;
    }
    .espaco19{
        margin-left: 37.2%;
    }



}

@media  (min-width: 100px)and (max-width:985px){

    .tudo{
        max-width: 100%;  
        justify-content: center;
        padding: 2%;   
        max-height: 100%;   
        align-content: center;
        max-inline-size: 160%;
        writing-mode: horizontal-tb; 
    }

    .div{
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 100%; 
    }
    .div1{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        max-width: 100%; 
    }
    
    .div2{
        justify-content: center;
        display: table-row;
        align-items: center;
        margin-top: 0.7%;
        max-width: 100%; 
    }
    .div3{
        
        display: flex;
        
        margin-top: 0.5%;
        max-width: 100%; 
    }
    
    .div4{
        
        display: flex;
        align-items: center;    
        max-width: 100%; 
        justify-content: space-evenly;
        margin-top: 3%;
    }
    
    .div5{
        
        display: flex;
        margin-left: 20%;
        margin-top: 3%;
        max-width: 100%; 
        align-items: center;  
    }

    .button{
        padding: 0.5%;
        background-color: white;
        margin-left: 1%;
        border: 0px;
    }
    
    .button1{
        width: 110%;   
        padding: 0%;      
    }
    
    .button2{
        padding: 0.5%;
        background-color: white;
        margin-left: 10%;
        border: 0px;
    }
    .button3{
        padding: 2%;
        background-color: white;
        margin-left: 26%;
        border: 0px;
    }
    
    .button4{
        width: 380%;   
        padding: 30%;      
    }

    .input1{
        text-align: center;
        width: 8%;
        margin-left: 1%;
        padding: 0.5%;
        box-sizing: border-box;
        
    }
    
    .input2{
        text-align: center;
        width: 98%;
        margin-left: 12%;
        padding: 0.5%;
        box-sizing: border-box;
    }
    .input3{
        text-align: center;
        width: 98%;
        margin-left: 2%;
        padding: 0.5%;
        box-sizing: border-box;
    }
    
    .input4{ 
        text-align: center;
        width: 30%;
        margin-left: 2%;
        padding: 0.5%;
        box-sizing: border-box;
    
    }
    .input5{ 
        text-align: center;
        width: 30%;
        margin-left: 16.5%;
        padding: 0.5%;
        box-sizing: border-box;
    
    }

    


    
    .input6{ 
        text-align: center;
        width: 10%;
        margin-left: 3.5%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input7{ 
        text-align: center;
        width: 10%;
        margin-left: 1.9%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input8{ 
        text-align: center;
        width: 10%;
        margin-left: 3.6%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input9{ 
        text-align: center;
        width: 10%;
        margin-left: 1.8%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input10{ 
        text-align: center;
        width: 2.8%;
        margin-left: 3.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input11{ 
        text-align: center;
        width: 2.8%;
        margin-left: 0.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input12{ 
        text-align: center;
        width: 2.8%;
        margin-left: 1.9%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input13{ 
        text-align: center;
        width: 2.8%;
        margin-left: 0.7%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input14{ 
        text-align: center;
        width: 2.8%;
        margin-left: 2%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input15{ 
        text-align: center;
        width: 2.8%;
        margin-left: 2%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input16{ 
        text-align: center;
        width: 2.8%;
        margin-left: 2%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input17{ 
        text-align: center;
        width: 10%;
        margin-left: 2%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input18{ 
        text-align: center;
        width: 10%;
        margin-left: 2.1%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input19{ 
        text-align: center;
        width: 10%;
        margin-left: 1.8%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input20{ 
        text-align: center;
        width: 22.1%;
        margin-left: 1.8%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    .input21{ 
        text-align: center;
        width: 10%;
        margin-left: 2.6%;
        padding: 0.2%;
        box-sizing: border-box;
    }
    
    .input22{ 
        text-align: center;
        width: 150%;    
        padding: 25%;
        box-sizing: border-box;
        height: 60%;
    }

    .espaco{
        margin-left: 67%;
    }
    .espaco1{
        margin-left: 10.8%;
    }
    .espaco3{
        margin-left: 60.3%;
    }
    .espaco4{
        margin-left: 39.7%;
    }
    .espaco5{
        margin-left: 63.8%;
    }
    .espaco6{
        margin-left: 0.5%;
    }
    .espaco7{
        margin-left: 39.8%;
    }
    .espaco8{
        margin-left: 41.9%;
    }
    .espaco9{
        margin-left: 53.5%;
    }


    .espaco10{
        margin-left: 54.8%;
    }


    .espaco11{
        margin-left: 1%;
    }
    .espaco12{
        margin-left: 48%;
    }
    .espaco13{
        margin-left: 33%;
    }
    .espaco14{
        margin-left: 0.2%;
    }


    .espaco15{
        margin-left: 0.8%;
    }


    .espaco16{
        margin-left: 49.1%;
    }
    .espaco17{
        margin-left: 16.1%;
    }
    .espaco18{
        margin-left: 32%;
    }
    .espaco19{
        margin-left: 43.7%;
    }

}




