.formfile {
    text-align: center;
    margin-top: 10em;
    font-size: 10px;

}

.ptexte {
    font-size: 25px;
    font-weight: bolder;
}

.formfile1 {
    text-align: center;
    margin-top: 1em;
    border: 1px solid black;
    width: 900px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.formfile3 {
    text-align: center;
    margin-top: 5em;
    font-size: 10px;

}
.formfile4 {
    text-align: center;
    margin-top: 10em;
    font-size: 10px;

}
.ptexte2 {
    font-size: 18px;
    font-weight: bolder;
}
.formfile0 {

    text-align: center;
    margin-top: 1em;

}

.Ftp2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.formFtp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
margin-top: 5em;

}
.formfile4 {
    text-align: center;
    margin-top: 1.5em;
  

}
.btnsave{
    margin-top: 2%;
margin-left: auto;
margin-right: auto;
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #18ab29;
padding: 10px 61px;
border: solid #18ab29 2px;
box-shadow: #18ab29 0px 0px 0px 0px;
border-radius: 50px;
transition : 800ms;
transform: translateY(0);
display: flex;
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btnsave:hover{

transition : 800ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #18ab29;
border: solid 2px #18ab29;
}




.custom-loader {
    margin-top: 20%;
  
    margin-left: auto;
    margin-right: auto;
    width:220px;
    height:22px;
    border-radius: 20px;
    color:#2D436C;
    border:2px solid;
    position: relative;
  }
  .custom-loader::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:#2D436C;
    animation:p6 3s infinite;
  }
  @keyframes p6 {
      100% {inset:0}
  }
  .carr{
text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.carre{
    text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: medium;
        font-weight: bolder;
    }